<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.exsor65.lmstudio-exporter</string>

  <key>ProgramArguments</key>
  <array>
    <string>__EXPORTER_PATH__</string>
    <string>--lms.path=__LMS_PATH__</string>
    <string>--web.listen-address=:9103</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
